In [4]:
a=[[[111,112,113],[121,122,123],[131,132,133]],
 [[211,212,213],[221,222,223],[231,232,233]],
 [[311,312,313],[321,322,323],[331,332,333]]]

In [6]:
print(a[0])
print(a[0][1])
print(a[0][1][1])

[[111, 112, 113], [121, 122, 123], [131, 132, 133]]
[121, 122, 123]
122

In [7]:
d={}

In [17]:
d={'key':'value'}

In [18]:
d
print(type(d))

<class 'dict'>

In [19]:
dd={**d}

In [20]:
dd

{'key': 'value'}

In [21]:
ddd = {k:v for k,v in [('key','value')]}

In [23]:
print(ddd,type(ddd))

{'key': 'value'} <class 'dict'>

In [24]:
d = dict()                    # empty dict
d = dict(key='value')         # explicit keyword arguments
d = dict([('key', 'value')])

In [25]:
d['hi']='hello'

In [26]:
d

{'hi': 'hello', 'key': 'value'}

In [27]:
d['new_list']=[1,2,3,4]

In [28]:
d

{'hi': 'hello', 'key': 'value', 'new_list': [1, 2, 3, 4]}

In [33]:
d['new_dict']={'hie':'can i fuck'}

In [34]:
d

{'hi': 'hello',
 'key': 'value',
 'new_dict': {'hie': 'can i fuck'},
 'new_list': [1, 2, 3, 4]}

In [35]:
del d['new_dict']

In [36]:
d

{'hi': 'hello', 'key': 'value', 'new_list': [1, 2, 3, 4]}

In [39]:
d.get('i','bar')

'bar'

In [40]:
d.setdefault('foo','bar')

'bar'

In [47]:
d['foo']

'bar'

In [49]:
default=10
try:
    value= d['h']
except KeyError:
    value=default
print(value)

10

In [50]:
key='he'
for key in d:
    value=d[key]
else:
    value= default
print(value)

10

In [51]:
from collections import defaultdict

In [52]:
d = defaultdict(int)

In [53]:
d

defaultdict(int, {})

In [54]:
d[1]

0

In [55]:
d[3]

0

In [56]:
fish = {'name': "Nemo", 'hands': "fins", 'special': "gills"} 
dog = {'name': "Clifford", 'hands': "paws", 'color': "red"}
fishdog= {**fish,**dog}

In [57]:
fishdog

{'color': 'red', 'hands': 'paws', 'name': 'Clifford', 'special': 'gills'}

In [63]:
from collections import ChainMap
dict(ChainMap(fish,dog))

{'color': 'red', 'hands': 'fins', 'name': 'Nemo', 'special': 'gills'}

In [68]:
# Creating and populating it with values 
stock = {'eggs': 5, 'milk': 2}
# Or creating an empty dictionary 
dictionary = {}
# And populating it after 
dictionary['eggs'] = 5 
dictionary['milk'] = 2
# Values can also be lists 
mydict = {'a': [1, 2, 3], 'b': ['one', 'two', 'three']}
# Use list.append() method to add new elements to the values list 
mydict['a'].append(4)   # => {'a': [1, 2, 3, 4], 'b': ['one', 'two', 'three']} 
mydict['b'].append('four')  # => {'a': [1, 2, 3, 4], 'b': ['one', 'two', 'three', 'four']}
# We can also create a dictionary using a list of two-items tuples 
iterable = [('eggs', 5), ('milk', 2)]
dictionary = dict(iterable)
# Or using keyword argument: dictionary = dict(eggs=5, milk=2)
# Another way will be to use the dict.fromkeys:
milk,eggs='hi','eggs'
dictionary = dict.fromkeys((milk, eggs))  # => {'milk': None, 'eggs': None}
dictionary = dict.fromkeys((milk, eggs), (2, 5))  # => {'milk': 2, 'eggs': 5}

In [69]:
from collections import OrderedDict
d = OrderedDict()
d['first'] = 1
d['second'] = 2
d['third'] = 3
d['last'] = 4
# Outputs "first 1", "second 2", "third 3", "last 4" 
for key in d:
    print(key, d[key])

first 1
second 2
third 3
last 4

In [82]:
print(*d.values())
print(*d.keys())

1 2 3 4
first second third last

In [84]:
import itertools
options = {    "x": ["a", "b"],   
           "y": [10, 20, 30]}
keys = options.keys() 
values = (options[key] for key in keys) 
combinations = [dict(zip(keys, combination)) for combination in itertools.product(*values)] 
print (combinations)

[{'x': 'a', 'y': 10}, {'x': 'a', 'y': 20}, {'x': 'a', 'y': 30}, {'x': 'b', 'y': 10}, {'x': 'b', 'y': 20}, {'x': 'b', 'y': 30}]

In [86]:
print(*values)

In [87]:
# Python code to demonstrate the working of 
# unzip 

# initializing lists 

name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 

# using zip() to map values 
mapped = zip(name, roll_no, marks) 

# converting values to print as list 
mapped = list(mapped) 

# printing resultant values 
print ("The zipped result is : ",end="") 
print (mapped) 

print("\n") 

# unzipping values 
namz, roll_noz, marksz = zip(*mapped) 

print ("The unzipped result: \n",end="") 

# printing initial lists 
print ("The name list is : ",end="") 
print (namz) 

print ("The roll_no list is : ",end="") 
print (roll_noz) 

print ("The marks list is : ",end="") 
print (marksz)

The zipped result is : [('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60), ('Astha', 2, 70)]


The unzipped result:
The name list is : ('Manjeet', 'Nikhil', 'Shambhavi', 'Astha')
The roll_no list is : (4, 1, 3, 2)
The marks list is : (40, 50, 60, 70)

In [88]:
a = [1, 2, 3, 4, 5, 6, 7, 7] 
b = [8, 9, 10]
# Extend list by appending all elements from b 
a.extend(b)

In [89]:
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [95]:
a.index(7, 7)

7

In [97]:
import datetime
class Person(object):   
    def __init__(self, name, birthday, height):  
        self.name = name 
        self.birthday = birthday 
        self.height = height
    def __repr__(self):   
        return self.name
l = [Person("John Cena", datetime.date(1992, 9, 12), 175), 
     Person("Chuck Norris", datetime.date(1990, 8, 28), 180), 
     Person("Jon Skeet", datetime.date(1991, 7, 6), 185)]
l.sort(key=lambda item: item.name) # l: [Chuck Norris, John Cena, Jon Skeet]
l.sort(key=lambda item: item.birthday) # l: [Chuck Norris, Jon Skeet, John Cena]
l.sort(key=lambda item: item.height) # l: [John Cena, Chuck Norris, Jon Skeet]

In [98]:
l

[John Cena, Chuck Norris, Jon Skeet]

In [99]:
import datetime
l = [{'name':'John Cena', 'birthday': datetime.date(1992, 9, 12),'height': 175}, {'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28),'height': 180}, {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}]
l.sort(key=lambda item: item['name']) # l: [Chuck Norris, John Cena, Jon Skeet]
l.sort(key=lambda item: item['birthday']) # l: [Chuck Norris, Jon Skeet, John Cena]
l.sort(key=lambda item: item['height']) # l: [John Cena, Chuck Norris, Jon Skeet]

In [100]:
l

[{'birthday': datetime.date(1992, 9, 12), 'height': 175, 'name': 'John Cena'},
 {'birthday': datetime.date(1990, 8, 28),
  'height': 180,
  'name': 'Chuck Norris'},
 {'birthday': datetime.date(1991, 7, 6), 'height': 185, 'name': 'Jon Skeet'}]

In [101]:
import datetime
l = [{'name':'John Cena', 'birthday': datetime.date(1992, 9, 12),'size': {'height': 175, 'weight': 100}}, {'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28),'size' : {'height': 180, 'weight': 90}}, {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'size': {'height': 185, 'weight': 110}}]
l.sort(key=lambda item: item['size']['height']) # l: [John Cena, Chuck Norris, Jon Skeet]

In [102]:
l

[{'birthday': datetime.date(1992, 9, 12),
  'name': 'John Cena',
  'size': {'height': 175, 'weight': 100}},
 {'birthday': datetime.date(1990, 8, 28),
  'name': 'Chuck Norris',
  'size': {'height': 180, 'weight': 90}},
 {'birthday': datetime.date(1991, 7, 6),
  'name': 'Jon Skeet',
  'size': {'height': 185, 'weight': 110}}]

In [104]:
from operator import itemgetter,attrgetter
people = [{'name':'chandan','age':20,'salary':2000},  
          {'name':'chetan','age':18,'salary':5000},     
          {'name':'guru','age':30,'salary':3000}]
by_age = itemgetter('age')
by_salary = itemgetter('salary')
people.sort(key=by_age) #in-place sorting by age people.sort(key=by_salary) #in-place sorting by salar

In [107]:
list_of_tuples = [(1,2), (3,4), (5,0)] 
list_of_tuples.sort(key=itemgetter(1
                                  ))
print(list_of_tuples) #[(5, 0), (1, 2), (3, 4)]

[(5, 0), (1, 2), (3, 4)]

In [116]:
persons = [Person("John Cena", datetime.date(1992, 9, 12), 175),  
           Person("Chuck Norris", datetime.date(1990, 8, 28), 180), 
           Person("Jon Skeet", datetime.date(1991, 7, 6), 185)] #reusing Person class from above example
persons.sort(key=attrgetter('name')) #sort by name 
by_birthday = attrgetter('birthday') 
persons.sort(key=by_birthday) #sort by birthda

In [132]:
data = 'chandan purohit    22 2000'  #assuming data fields of fixed length 
name_slice = slice(0,19)
age_slice = slice(19,21) 
salary_slice = slice(22,None)

#now we can have more readable slices 
print(data[name_slice]) #chandan purohit    
print(data[age_slice]) #'22'
print(data[salary_slice])

chandan purohit
22
2000

In [137]:
nums= [1,1,80,1]
all(nums)

True

In [141]:
char= ['a','b',1,'d','e']
all(char)

True

In [142]:
any(nums)

True

In [144]:
any(char)

True

In [145]:
numss=[0,1,13,4,0]

In [146]:
any(numss)

True

In [147]:
all(numss)

False

In [148]:
vals = [1, 2, 3, 4] 
any(val > 12 for val in vals) # False 
any((val * 2) > 6 for val in vals) # True

True

In [151]:
alist = ['a1', 'a2', 'a3'] 
blist = ['b1', 'b2', 'b3']
for a in zip(alist, blist): 
    print(a)                     # use zip function

('a1', 'b1')
('a2', 'b2')
('a3', 'b3')

In [152]:
alist = ['a1', 'a2', 'a3'] 
blist = ['b1', 'b2', 'b3', 'b4'] 
for a, b in zip(alist, blist):  
    print(a, b)

a1 b1
a2 b2
a3 b3

In [153]:
len(list(zip(alist, blist)))

3

In [154]:
alist = ['a1', 'a2', 'a3']
blist = ['b1'] 
clist = ['c1', 'c2', 'c3', 'c4']
for a,b,c in itertools.zip_longest(alist, blist, clist): 
    print(a, b, c)

a1 b1 c1
a2 None c2
a3 None c3
None None c4

In [155]:
[col for row in alist for col in row]

['a', '1', 'a', '2', 'a', '3']

In [156]:
my_list=[{1}] * 10

In [157]:
print(my_list)

[{1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}]

In [158]:
my_list[0].add(2)

In [159]:
print(my_list)

[{1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}]

In [160]:
[x if x in 'aeiou' else '*' for x in 'apple']

['a', '*', '*', '*', 'e']

In [164]:
sentence = "Beautiful is better than ugly" 
["".join(sorted(word, key = lambda x: x.lower())) for word in sentence.split(" ")]

['aBefiltuu', 'is', 'beertt', 'ahnt', 'gluy']

In [165]:
[w.strip(',') for w in ['these,', 'words,,', 'mostly', 'have,commas,']]

['these', 'words', 'mostly', 'have,commas']

In [167]:
[2 * (x if x % 2 == 0 else -1) + 1 for x in range(10)]

[1, -1, 5, -1, 9, -1, 13, -1, 17, -1]

In [168]:
numbers = [] 
for x in range(10): 
    if x % 2 == 0:
        temp = x  
    else:
        temp = -1 
    numbers.append(2 * temp + 1) 
print(numbers)

[1, -1, 5, -1, 9, -1, 13, -1, 17, -1]

In [169]:
[x if x > 2 else '*' for x in range(10) if x % 2 == 0]

['*', '*', 4, 6, 8]

In [170]:
[x if (x > 2 and x % 2 == 0) else '*' for x in range(10)]

['*', '*', '*', '*', 4, '*', 6, '*', 8, '*']

In [171]:
def f(x): 
    import time
    time.sleep(.1)       # Simulate expensive function ...     
    return x**2

In [172]:
[f(x) for x in range(1000) if f(x) > 10]

[16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000,
 10201,
 10404,
 10609,
 10816,
 11025,
 11236,
 11449,
 11664,
 11881,
 12100,
 12321,
 12544,
 12769,
 12996,
 13225,
 13456,
 13689,
 13924,
 14161,
 14400,
 14641,
 14884,
 15129,
 15376,
 15625,
 15876,
 16129,
 16384,
 16641,
 16900,
 17161,
 17424,
 17689,
 17956,
 18225,
 18496,
 18769,
 19044,
 19321,
 19600,
 19881,
 20164,
 20449,
 20736,
 21025,
 21316,
 21609,
 21904,
 22201,
 22500,
 22801,
 23104,
 23409,
 23716,
 24025,
 24336,
 24649,
 24964,
 25281,
 25600,
 25921,
 26244,
 26569,
 26896,
 27225,
 27556,
 27889,
 28224,
 28561,
 28900,
 29241,
 29584,
 29929,
 30276,
 30625,
 30976,
 31329,
 31684,
 32041,
 32400,
 32761,
 33124,
 33489,
 33856,
 34225,
 34596,
 34969,
 35344,
 35721,
 36100,
 36481,
 36864,
 37249,
 37636,
 38025,
 38416,
 38809,
 39204,
 39601,
 40000,
 40401,
 40804,
 41209,
 41616,
 42025,
 42436,
 42849,
 43264,
 43681,
 44100,
 44521,
 44944,
 45369,
 45796,
 46225,
 46656,
 47089,
 47524,
 47961,
 48400,
 48841,
 49284,
 49729,
 50176,
 50625,
 51076,
 51529,
 51984,
 52441,
 52900,
 53361,
 53824,
 54289,
 54756,
 55225,
 55696,
 56169,
 56644,
 57121,
 57600,
 58081,
 58564,
 59049,
 59536,
 60025,
 60516,
 61009,
 61504,
 62001,
 62500,
 63001,
 63504,
 64009,
 64516,
 65025,
 65536,
 66049,
 66564,
 67081,
 67600,
 68121,
 68644,
 69169,
 69696,
 70225,
 70756,
 71289,
 71824,
 72361,
 72900,
 73441,
 73984,
 74529,
 75076,
 75625,
 76176,
 76729,
 77284,
 77841,
 78400,
 78961,
 79524,
 80089,
 80656,
 81225,
 81796,
 82369,
 82944,
 83521,
 84100,
 84681,
 85264,
 85849,
 86436,
 87025,
 87616,
 88209,
 88804,
 89401,
 90000,
 90601,
 91204,
 91809,
 92416,
 93025,
 93636,
 94249,
 94864,
 95481,
 96100,
 96721,
 97344,
 97969,
 98596,
 99225,
 99856,
 100489,
 101124,
 101761,
 102400,
 103041,
 103684,
 104329,
 104976,
 105625,
 106276,
 106929,
 107584,
 108241,
 108900,
 109561,
 110224,
 110889,
 111556,
 112225,
 112896,
 113569,
 114244,
 114921,
 115600,
 116281,
 116964,
 117649,
 118336,
 119025,
 119716,
 120409,
 121104,
 121801,
 122500,
 123201,
 123904,
 124609,
 125316,
 126025,
 126736,
 127449,
 128164,
 128881,
 129600,
 130321,
 131044,
 131769,
 132496,
 133225,
 133956,
 134689,
 135424,
 136161,
 136900,
 137641,
 138384,
 139129,
 139876,
 140625,
 141376,
 142129,
 142884,
 143641,
 144400,
 145161,
 145924,
 146689,
 147456,
 148225,
 148996,
 149769,
 150544,
 151321,
 152100,
 152881,
 153664,
 154449,
 155236,
 156025,
 156816,
 157609,
 158404,
 159201,
 160000,
 160801,
 161604,
 162409,
 163216,
 164025,
 164836,
 165649,
 166464,
 167281,
 168100,
 168921,
 169744,
 170569,
 171396,
 172225,
 173056,
 173889,
 174724,
 175561,
 176400,
 177241,
 178084,
 178929,
 179776,
 180625,
 181476,
 182329,
 183184,
 184041,
 184900,
 185761,
 186624,
 187489,
 188356,
 189225,
 190096,
 190969,
 191844,
 192721,
 193600,
 194481,
 195364,
 196249,
 197136,
 198025,
 198916,
 199809,
 200704,
 201601,
 202500,
 203401,
 204304,
 205209,
 206116,
 207025,
 207936,
 208849,
 209764,
 210681,
 211600,
 212521,
 213444,
 214369,
 215296,
 216225,
 217156,
 218089,
 219024,
 219961,
 220900,
 221841,
 222784,
 223729,
 224676,
 225625,
 226576,
 227529,
 228484,
 229441,
 230400,
 231361,
 232324,
 233289,
 234256,
 235225,
 236196,
 237169,
 238144,
 239121,
 240100,
 241081,
 242064,
 243049,
 244036,
 245025,
 246016,
 247009,
 248004,
 249001,
 250000,
 251001,
 252004,
 253009,
 254016,
 255025,
 256036,
 257049,
 258064,
 259081,
 260100,
 261121,
 262144,
 263169,
 264196,
 265225,
 266256,
 267289,
 268324,
 269361,
 270400,
 271441,
 272484,
 273529,
 274576,
 275625,
 276676,
 277729,
 278784,
 279841,
 280900,
 281961,
 283024,
 284089,
 285156,
 286225,
 287296,
 288369,
 289444,
 290521,
 291600,
 292681,
 293764,
 294849,
 295936,
 297025,
 298116,
 299209,
 300304,
 301401,
 302500,
 303601,
 304704,
 305809,
 306916,
 308025,
 309136,
 310249,
 311364,
 312481,
 313600,
 314721,
 315844,
 316969,
 318096,
 319225,
 320356,
 321489,
 322624,
 323761,
 324900,
 326041,
 327184,
 328329,
 329476,
 330625,
 331776,
 332929,
 334084,
 335241,
 336400,
 337561,
 338724,
 339889,
 341056,
 342225,
 343396,
 344569,
 345744,
 346921,
 348100,
 349281,
 350464,
 351649,
 352836,
 354025,
 355216,
 356409,
 357604,
 358801,
 360000,
 361201,
 362404,
 363609,
 364816,
 366025,
 367236,
 368449,
 369664,
 370881,
 372100,
 373321,
 374544,
 375769,
 376996,
 378225,
 379456,
 380689,
 381924,
 383161,
 384400,
 385641,
 386884,
 388129,
 389376,
 390625,
 391876,
 393129,
 394384,
 395641,
 396900,
 398161,
 399424,
 400689,
 401956,
 403225,
 404496,
 405769,
 407044,
 408321,
 409600,
 410881,
 412164,
 413449,
 414736,
 416025,
 417316,
 418609,
 419904,
 421201,
 422500,
 423801,
 425104,
 426409,
 427716,
 429025,
 430336,
 431649,
 432964,
 434281,
 435600,
 436921,
 438244,
 439569,
 440896,
 442225,
 443556,
 444889,
 446224,
 447561,
 448900,
 450241,
 451584,
 452929,
 454276,
 455625,
 456976,
 458329,
 459684,
 461041,
 462400,
 463761,
 465124,
 466489,
 467856,
 469225,
 470596,
 471969,
 473344,
 474721,
 476100,
 477481,
 478864,
 480249,
 481636,
 483025,
 484416,
 485809,
 487204,
 488601,
 490000,
 491401,
 492804,
 494209,
 495616,
 497025,
 498436,
 499849,
 501264,
 502681,
 504100,
 505521,
 506944,
 508369,
 509796,
 511225,
 512656,
 514089,
 515524,
 516961,
 518400,
 519841,
 521284,
 522729,
 524176,
 525625,
 527076,
 528529,
 529984,
 531441,
 532900,
 534361,
 535824,
 537289,
 538756,
 540225,
 541696,
 543169,
 544644,
 546121,
 547600,
 549081,
 550564,
 552049,
 553536,
 555025,
 556516,
 558009,
 559504,
 561001,
 562500,
 564001,
 565504,
 567009,
 568516,
 570025,
 571536,
 573049,
 574564,
 576081,
 577600,
 579121,
 580644,
 582169,
 583696,
 585225,
 586756,
 588289,
 589824,
 591361,
 592900,
 594441,
 595984,
 597529,
 599076,
 600625,
 602176,
 603729,
 605284,
 606841,
 608400,
 609961,
 611524,
 613089,
 614656,
 616225,
 617796,
 619369,
 620944,
 622521,
 624100,
 625681,
 627264,
 628849,
 630436,
 632025,
 633616,
 635209,
 636804,
 638401,
 640000,
 641601,
 643204,
 644809,
 646416,
 648025,
 649636,
 651249,
 652864,
 654481,
 656100,
 657721,
 659344,
 660969,
 662596,
 664225,
 665856,
 667489,
 669124,
 670761,
 672400,
 674041,
 675684,
 677329,
 678976,
 680625,
 682276,
 683929,
 685584,
 687241,
 688900,
 690561,
 692224,
 693889,
 695556,
 697225,
 698896,
 700569,
 702244,
 703921,
 705600,
 707281,
 708964,
 710649,
 712336,
 714025,
 715716,
 717409,
 719104,
 720801,
 722500,
 724201,
 725904,
 727609,
 729316,
 731025,
 732736,
 734449,
 736164,
 737881,
 739600,
 741321,
 743044,
 744769,
 746496,
 748225,
 749956,
 751689,
 753424,
 755161,
 756900,
 758641,
 760384,
 762129,
 763876,
 765625,
 767376,
 769129,
 770884,
 772641,
 774400,
 776161,
 777924,
 779689,
 781456,
 783225,
 784996,
 786769,
 788544,
 790321,
 792100,
 793881,
 795664,
 797449,
 799236,
 801025,
 802816,
 804609,
 806404,
 808201,
 810000,
 811801,
 813604,
 815409,
 817216,
 819025,
 820836,
 822649,
 824464,
 826281,
 828100,
 829921,
 831744,
 833569,
 835396,
 837225,
 839056,
 840889,
 842724,
 844561,
 846400,
 848241,
 850084,
 851929,
 853776,
 855625,
 857476,
 859329,
 861184,
 863041,
 864900,
 866761,
 868624,
 870489,
 872356,
 874225,
 876096,
 877969,
 879844,
 881721,
 883600,
 885481,
 887364,
 889249,
 891136,
 893025,
 894916,
 896809,
 898704,
 900601,
 902500,
 904401,
 906304,
 908209,
 910116,
 912025,
 913936,
 915849,
 917764,
 919681,
 921600,
 923521,
 925444,
 927369,
 929296,
 931225,
 933156,
 935089,
 937024,
 938961,
 940900,
 942841,
 944784,
 946729,
 948676,
 950625,
 952576,
 954529,
 956484,
 958441,
 960400,
 962361,
 964324,
 966289,
 968256,
 970225,
 972196,
 974169,
 976144,
 978121,
 980100,
 982081,
 984064,
 986049,
 988036,
 990025,
 992016,
 994009,
 996004,
 998001]

In [ ]:
[v for v in (f(x) for x in range(1000)) if v > 10]

In [ ]:
[v for v in map(f, range(1000)) if v > 10]

In [173]:
l = [[1, 2, 3], [4, 5, 6], [7], [8, 9]]

In [175]:
#reduce(lambda x, y: x+y, l)

In [176]:
{x: x * x for x in (1, 2, 3, 4)}

{1: 1, 2: 4, 3: 9, 4: 16}

In [177]:
dict((x, x * x) for x in (1, 2, 3, 4))

{1: 1, 2: 4, 3: 9, 4: 16}

In [178]:
{name: len(name) for name in ('Stack', 'Overflow', 'Exchange') if len(name) > 6}

{'Exchange': 8, 'Overflow': 8}

In [179]:
initial_dict = {'x': 1, 'y': 2} 
{key: value for key, value in initial_dict.items() if key == 'x'}

{'x': 1}

In [182]:
my_dict = {1: 'a', 2: 'b', 3: 'c'}
swapped = {v: k for k, v in my_dict.items()}
swapped = dict((v, k) for k, v in my_dict.items()) 
swapped = dict(zip(my_dict.values(), my_dict))
swapped = dict(zip(my_dict.values(), my_dict.keys())) 
swapped = dict(map(reversed, my_dict.items()))

In [183]:
dict1 = {'w': 1, 'x': 1} 
dict2 = {'x': 2, 'y': 2, 'z': 2}
{k: v for d in [dict1, dict2] for k, v in d.items()}

{'w': 1, 'x': 2, 'y': 2, 'z': 2}

In [187]:
for d in [dict1,dict2,my_dict]:
    print(d)

{'w': 1, 'x': 1}
{'x': 2, 'y': 2, 'z': 2}
{1: 'a', 2: 'b', 3: 'c'}

In [188]:
{**dict1, **dict2}

{'w': 1, 'x': 2, 'y': 2, 'z': 2}

In [189]:
data = [[1, 2], [3, 4], [5, 6]] 
output = [] 
for each_list in data: 
    for element in each_list:    
        output.append(element) 
print(output)

[1, 2, 3, 4, 5, 6]

In [190]:
output = [element for each_list in data for element in each_list]

In [231]:
def f():
    output=[]   
    for each_list in data:        
        for element in each_list:  
            output.append(element)   
    return output

In [232]:
timeit f()

1.57 µs ± 54.8 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [193]:
timeit [inner for outer in data for inner in outer]

1.05 µs ± 57.9 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [194]:
{x for x in range(5)}

{0, 1, 2, 3, 4}

In [196]:
{x for x in range(1, 11) if x % 2 == 0}

{2, 4, 6, 8, 10}

In [197]:
text = "When in the Course of human events it becomes necessary for one people..."
{ch.lower() for ch in text if ch.isalpha()}

{'a',
 'b',
 'c',
 'e',
 'f',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'y'}

In [198]:
the_list = [2**x for x in range(5)]

In [199]:
type(the_list)

list

In [200]:
for element in the_list:
    print(element)

1
2
4
8
16

In [201]:
len(the_list)

5

In [202]:
the_generator = (x+x for x in range(3))

In [203]:
type(the_generator)

generator

In [204]:
for element in the_generator:
    print(element)

0
2
4

In [205]:
len(the_generator)

TypeError: object of type 'generator' has no len()

In [206]:
filtered = filter(lambda x: x % 2 == 0, range(10))

In [ ]:
results = map(lambda x: 2*x, filtered)

In [ ]:
results = [2*x for x in range(10) if x % 2 == 0]

In [211]:
[x + y for x, y in [(1, 2), (3, 4), (5, 6)]]

[3, 7, 11]

In [212]:
[x + y for x, y in zip([1, 3, 5], [2, 4, 6])]

[3, 7, 11]

In [213]:
for x, y in [(1,2), (3,4), (5,6)]:   
    print(x+y)

3
7
11

In [219]:
[(x, y) for x, y in [(1, 2), (3, 4), (5, 6)]]

[(1, 2), (3, 4), (5, 6)]

In [221]:
print (sum( 1 for x in range(1000)    if x % 2 == 0 and '9' in str(x) ))

95

In [223]:
#List Comprehension with nested loop
[x + y for x in [1, 2, 3] for y in [3, 4, 5]]

[4, 5, 6, 5, 6, 7, 6, 7, 8]

In [228]:
items = ["1","2","3","4"]
d=list(map(float, items))

In [229]:
d

[1.0, 2.0, 3.0, 4.0]

In [230]:
items = ["1","2","3","4"]
[int(item) for item in items]

[1, 2, 3, 4]

In [1]:
matrix = [[1,2,3],          
          [4,5,6],          
          [7,8,9]]
[[row[i] for row in matrix] for i in range(len(matrix))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [3]:
[[[i + j + k for k in 'cd'] for j in 'ab'] for i in '12']

[[['1ac', '1ad'], ['1bc', '1bd']], [['2ac', '2ad'], ['2bc', '2bd']]]

In [4]:
list_1 = [1, 2, 3 , 4] 
list_2 = ['a', 'b', 'c', 'd'] 
list_3 = ['6', '7', '8', '9']
[(i, j, k) for i, j, k in zip(list_1, list_2, list_3)]

[(1, 'a', '6'), (2, 'b', '7'), (3, 'c', '8'), (4, 'd', '9')]

In [7]:
from itertools import groupby
list_things = ['goat', 'dog', 'donkey', 'mulato', 'cow', 'cat', ('persons', 'man', 'woman'), 
               'wombat', 'mongoose', 'malloo', 'camel']
c = groupby(list_things, key=lambda x: x[0]) 
dic = {} 
for k, v in c:  
    dic[k] = list(v) 
dic

{'c': ['camel'],
 'd': ['dog', 'donkey'],
 'g': ['goat'],
 'm': ['mongoose', 'malloo'],
 'persons': [('persons', 'man', 'woman')],
 'w': ['wombat']}

In [9]:
list_things = ['goat', 'dog', 'donkey', 'mulato', 'cow', 'cat', ('persons', 'man', 'woman'), 
               'wombat', 'mongoose', 'malloo', 'camel'] 
sorted_list = sorted(list_things, key = lambda x: x[0])
print(sorted_list)
print()
c = groupby(sorted_list, key=lambda x: x[0])
dic = {} 
for k, v in c:  
    dic[k] = list(v) 
dic

['cow', 'cat', 'camel', 'dog', 'donkey', 'goat', 'mulato', 'mongoose', 'malloo', ('persons', 'man', 'woman'), 'wombat']

{'c': ['cow', 'cat', 'camel'],
 'd': ['dog', 'donkey'],
 'g': ['goat'],
 'm': ['mulato', 'mongoose', 'malloo'],
 'persons': [('persons', 'man', 'woman')],
 'w': ['wombat']}

In [1]:
names = ['Fred', 'Wilma', 'Barney']
[name for name in names if len(name) > 5]

['Barney']

In [2]:
(name for name in names if len(name) > 5)

In [3]:
list(filter(None, [1, 0, 2, [], '', 'a']))

[1, 2, 'a']

In [4]:
[i for i in [1, 0, 2, [], '', 'a'] if i]

[1, 2, 'a']

In [5]:
(i for i in [1, 0, 2, [], '', 'a'] if i)

In [6]:
from itertools import filterfalse
list(filterfalse(None, [1, 0, 2, [], '', 'a']))

[0, [], '']

In [13]:
import heapq
numbers = [1, 4, 2, 100, 20, 50, 32, 200, 150, 8]
print(heapq.nlargest(2, numbers))
print(heapq.nsmallest(2,numbers))

[200, 150]
[1, 2]

In [14]:
people = [  {'firstname': 'John', 'lastname': 'Doe', 'age': 30},
           {'firstname': 'Jane', 'lastname': 'Doe', 'age': 25},   
           {'firstname': 'Janie', 'lastname': 'Doe', 'age': 10},  
          {'firstname': 'Jane', 'lastname': 'Roe', 'age': 22}, 
          {'firstname': 'Johnny', 'lastname': 'Doe', 'age': 12},
          {'firstname': 'John', 'lastname': 'Roe', 'age': 45} ]

In [16]:
oldest = heapq.nlargest(1, people, key=lambda s: s['age'])
print(oldest)

[{'firstname': 'John', 'lastname': 'Roe', 'age': 45}]

In [18]:
youngest = heapq.nsmallest(1, people, key=lambda s: s['age']) 
print(youngest)

[{'firstname': 'Janie', 'lastname': 'Doe', 'age': 10}]

In [19]:
numbers = [10, 4, 2, 100, 20, 50, 32, 200, 150, 8]
heapq.heapify(numbers) 
print(numbers)

[2, 4, 10, 100, 8, 50, 32, 200, 150, 20]

In [20]:
heapq.heappop(numbers)  # 2
print(numbers)

[4, 8, 10, 100, 20, 50, 32, 200, 150]

In [21]:
t = 'a', 'b', 'c', 'd', 'e'

In [22]:
t = ('a', 'b', 'c', 'd', 'e')  # both are same tuple

In [23]:
t0 = () 
type(t0)

tuple

In [24]:
t1 = 'a',
type(t1)    # to create a final tuple  of one we have to include a comma in last

tuple

In [25]:
t2 = ('a') 
type(t2)    # single value in peranthisis are not tuple it is string

str

In [36]:
t = tuple('lupins')   # tuple can take atmost one argement 
print(t)

('l', 'u', 'p', 'i', 'n', 's')

In [38]:
x, y, z = (1, 2, 3)

In [39]:
a = 1, 2, 3, 4
_, x, y, _ = a

In [40]:
first, *more, last = (1, 2, 3, 4, 5)

In [41]:
tuple1 = ('a', 'b', 'c', 'd', 'e')
tuple2 = ('1','2','3')
tuple3 = ('a', 'b', 'c', 'd', 'e')

In [44]:
print(tuple1==tuple2)

False

In [45]:
print(tuple1==tuple3)

True

In [46]:
print(tuple2==tuple1)

False

In [47]:
len(tuple1)

5

In [48]:
max(tuple1)

'e'

In [49]:
min(tuple1)

'a'

In [50]:
tuple1+tuple2

('a', 'b', 'c', 'd', 'e', '1', '2', '3')

In [51]:
hash( (1, 2) )

3713081631934410656

In [62]:
hash(())

3527539

In [63]:
import os 
os.path.join('a', 'b', 'c')

'a\\b\\c'

In [65]:
s = {1, 2} 
# or list or generator or even iterator 
i = iter(s)  # get iterator a = next(i)  # a = 1 
b = next(i)  # b = 2 
c = next(i)

In [66]:
def append(elem, to=[]):   
    to.append(elem)      # This call to append() mutates the default variable "to"    
    return to
append(1) # Out: [1]
append(2)  # Appends it to the internally stored list # Out: [1, 2]
append(3, [])  # Using a new created list gives the expected result # Out: [3]
# Calling it again without argument will append to the internally stored list again append(4)

[3]

In [69]:
def cursing(depth): 
    try:   
        cursing(depth + 1) # actually, re-cursing  
    except RuntimeError as RE:    
        print('I recursed {} times!'.format(depth))
cursing(0)

I recursed 1971 times!

In [23]:
def makeinc(x):
    def func(y):
        y=y+x
        return y+x
    return func
a=makeinc(10)(2)

In [19]:
a(2)

22

In [27]:
def makeincn(x):
    def func(y):
        nonlocal x
        x=x+y
        return x+y
    return func
b=makeincn(10)

In [28]:
b(2)

14

In [29]:
lambda_factorial = lambda i:1 if i==0 else i*lambda_factorial(i-1)

In [30]:
lambda_factorial(5)

120

In [37]:
def raise_(x, y): 
    if y in (3,4,5): 
        return x**y  
    raise NumberNotInRangeException("You should provide a valid exponent")

In [38]:
from functors import partial 
raise_to_three = partial(raise_, y=3) 
raise_to_four = partial(raise_, y=4)
raise_to_five = partial(raise_, y=5)

ModuleNotFoundError: No module named 'functors'

In [39]:
def super_secret_function(f):   
    return f
@super_secret_function 
def my_function():   
    print("This is my secret function.")

In [40]:
my_function()

This is my secret function.

In [42]:
class Decorator(object):   
    """Simple decorator class."""
    def __init__(self, func): 
        self.func = func
    def __call__(self, *args, **kwargs): 
        print('Before the function call.')  
        res = self.func(*args, **kwargs)      
        print('After the function call.')      
        return res
@Decorator 
def testfunc(): 
    print('Inside the function.')
testfunc()

Before the function call.
Inside the function.
After the function call.

In [44]:
import types 
isinstance(testfunc, types.FunctionType) # False
type(testfunc)

__main__.Decorator

In [45]:
from types import MethodType
class Decorator(object):  
    def __init__(self, func):
        self.func = func          
    def __call__(self, *args, **kwargs):   
        print('Inside the decorator.')
        return self.func(*args, **kwargs)  
    def __get__(self, instance, cls):        # Return a Method if it is called on an instance     
        return self if instance is None else MethodType(self, instance)
class Test(object): 
    @Decorator   
    def __init__(self): 
        pass 
a = Test()

Inside the decorator.

In [47]:
type(a)

__main__.Test

In [48]:
def decoratorfactory(message):  
    def decorator(func):  
        def wrapped_func(*args, **kwargs): 
            print('The decorator wants to tell you: {}'.format(message))  
            return func(*args, **kwargs)  
        return wrapped_func   
    return decorator
@decoratorfactory('Hello World') 
def test(): 
    pass
test()

The decorator wants to tell you: Hello World

In [50]:
def decoratorfactory(*decorator_args, **decorator_kwargs):
    class Decorator(object):  
        def __init__(self, func): 
            self.func = func
        def __call__(self, *args, **kwargs): 
            print('Inside the decorator with arguments {}'.format(decorator_args))      
            return self.func(*args, **kwargs)         
    return Decorator
@decoratorfactory(10)
def test():   
    pass
test()

Inside the decorator with arguments (10,)

In [55]:
from functools import wraps
def decorator(func):    # Copies the docstring, name, annotations and module to the decorator  
    @wraps(func)  
    def wrapped_func(*args, **kwargs):   
        return func(*args, **kwargs)   
    return wrapped_func
@decorator 
def test(): 
    pass
test()