In [3]:
issubclass(bool, int)

True

In [2]:
isinstance(int, bool)

False

In [3]:
isinstance(bool, int)

False

In [7]:
isinstance(True, bool)
isinstance(False, bool)

True

In [11]:
print(True+False)
print(True+True)
print(False+True)
print(False+False)

1
2
1
0

In [21]:
if -1:
    print("hello")

hello

In [22]:
if 0:
    print("world")

In [31]:
a=2.0
b=100.e0
c=10.e1
print(a)
print(b)
print(c)

2.0
100.0
100.0

In [35]:
b =100+4j
print(b)

(100+4j)

In [56]:
a='hello'
print(type(a))
print(id(a))
b=b'hello'
print(type(b))

<class 'str'>
2498749717448
<class 'bytes'>

In [54]:
a=10
b=10
print(id(a))
print(id(b))

1453089216
1453089216

In [60]:
class ven:
    pass

class truck(ven):
    pass

isinstance(ven(), ven)

True

In [61]:
isinstance(truck(), truck)

True

In [62]:
isinstance(truck(), ven)

True

In [63]:
isinstance(ven(), truck)

False

In [69]:
type(ven)

type

In [71]:
if type(ven)== ven:
    print('equal')
else:
    print('not equal')

not equal

In [68]:
type(truck()) == ven

False

In [75]:
a='123.123'
b=float(a)
c=int(b)

In [77]:
print(type(a),id(a))
print(type(b),id(b))
print(type(c),id(c))
# if datatype of same verriable is changing then varriable object is also changing

<class 'str'> 2498749772720
<class 'float'> 2498748639704
<class 'int'> 1453092832

In [87]:
x='1'
print(eval(x+'2'))
eval(x)    # arg1 must be string ,bytes or code object

12

1

In [ ]:
# built in module and function

In [88]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [89]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(iter1 [,iter2 [...]]) --> zip object
 |
 |  Return a zip object whose .__next__() method returns a tuple where
 |  the i-th element comes from the i-th iterable argument.  The .__next__()
 |  method continues until the shortest iterable in the argument sequence
 |  is exhausted and then it raises StopIteration.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

In [90]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [91]:
math.__doc__

'This module is always available.  It provides access to the\nmathematical functions defined by the C standard.'

In [92]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [2]:
class myClass(object):
    ''' ths is test class'''
    pass
dir(myClass)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [3]:
myClass.__doc__

' ths is test class'

In [4]:
# str() and repr()

In [7]:
s="wow"
str(s)

'wow'

In [8]:
repr(s)

"'wow'"

In [9]:
eval(repr(s))== s

True

In [13]:
#eval(str(s))== s   it produce error

In [15]:
import datetime
today = datetime.datetime.now()
str(today)

'2019-09-07 16:30:26.325512'

In [17]:
repr(today)   # it repersent some techi=nical details

'datetime.datetime(2019, 9, 7, 16, 30, 26, 325512)'

In [28]:
class Repersent(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def __repr__(self):
        return ("represent x as {} and y as {}".format(self.x,self.y))
    def __str__(self):
        return "representing x as {} and y as {}".format(self.x,self.y)

In [29]:
r= Repersent(1,"rajeev")
print(r)

representing x as 1 and y as rajeev

In [33]:
print(r.__repr__)

<bound method Repersent.__repr__ of represent x as 1 and y as rajeev>

In [34]:
a = r.__repr__()
print(a)

represent x as 1 and y as rajeev

In [36]:
#r1 = eval(a)

In [37]:
# installing external module using pip

In [38]:
pip search numpy

The following command must be run outside of the IPython shell:

    $ pip search numpy

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more informations on how to install packages:

    https://docs.python.org/3/installing/

In [3]:
list = [123,'abcd',10.2,'d'] 
#can be an array of any data type or single data type.
list1 = ['hello','world'] 
print(list) 
#will output whole list. 

print(list[0:2])    #will output first two element of list.
[123,'abcd'] 
print(list1 * 2)    #will gave list1 two times.
print(list + list1)

[123, 'abcd', 10.2, 'd']
[123, 'abcd']
['hello', 'world', 'hello', 'world']
[123, 'abcd', 10.2, 'd', 'hello', 'world']

In [5]:
dic={'name':'red','age':10}
print(dic)
print(dic['name'])
print(dic.values())
print(dic.keys())

{'name': 'red', 'age': 10}
red
dict_values(['red', 10])
dict_keys(['name', 'age'])

In [15]:
tuple= ('123','hello')
tuple1 = ('world',)
print(tuple)
print(tuple[0])
print(tuple + tuple1)
#tuple[1]='update'    it give error as output

('123', 'hello')
123
('123', 'hello', 'world')

In [17]:
# sphinx is tools thatgenerate a HTML documatations  for python project

In [18]:
# data time module

In [28]:
import datetime
dt= datetime.datetime.strptime("2019-09-08T11:50:34-0200","%Y-%m-%dT%H:%M:%S%z")

print (dt)

2019-09-08 11:50:34-02:00

In [31]:
from datetime import datetime ,timedelta,timezone
time= timezone(timedelta(hours=12))
print(time)

UTC+12:00

In [36]:
dt= datetime(2019,9,1,2,0,0 , tzinfo= time)
print(dt)

2019-09-01 02:00:00+12:00

In [39]:
print(dt.tzname())
print(dt.tzname)

UTC+12:00
<built-in method tzname of datetime.datetime object at 0x00000131F2CA4210>

In [41]:
dt = datetime(2015, 1, 1, 12, 0, 0, tzinfo=timezone(timedelta(hours=9), 'JST')) 
print(dt.tzname)

<built-in method tzname of datetime.datetime object at 0x00000131F2CA4720>

In [43]:
from dateutil import tz
local= tz.gettz() # local  
pt= tz.gettz('US/Pacific') # specificy

In [52]:
dt_l= datetime(2019,8,8 ,tzinfo=local)
ps= datetime(2019,8,8, tzinfo=pt)
_pdt = datetime(2015, 5, 1, 12, tzinfo=pt)

In [53]:
print(dt_l)
print(ps)
print(_pdt)

2019-08-08 00:00:00+05:30
2019-08-08 00:00:00-07:00
2015-05-01 12:00:00-07:00

In [54]:
# computing the time difference

In [58]:
from datetime import datetime,timedelta
date= datetime.now()
dob= datetime(1997,6,2)
delta= date-dob

In [62]:
print(delta.days)
print(delta.seconds)

8133
43654

In [79]:
date_after= datetime.now()+timedelta(days=120)
print(date_after.strftime("%d %A %B %Y %X"))

06 Monday January 2020 12:17:15

In [83]:
date_before= datetime.now()-timedelta(days=120)
print(date_before.strftime("%d %A %B %Y %T"))

11 Saturday May 2019 12:17:56

In [ ]:
now= datetime.now()
print(now.today)

In [3]:
import datetime
today= datetime.date.today()
print(today)

2019-09-08

In [5]:
yesterday= today- datetime.timedelta(days=1)
print(yesterday)

2019-09-07

In [6]:
tomorrow= today+datetime.timedelta(days=1)
print(tomorrow)

2019-09-09

In [7]:
print(tomorrow-yesterday)

2 days, 0:00:00

In [9]:
import iso8601

In [12]:
date= datetime.datetime.now().isoformat()
print(date
     )

2019-09-08T12:39:29.689031

In [13]:
# with micro seocnd
from datetime import datetime
from dateutil.tz import tzlocal
datetime.now(tzlocal()).isoformat()

'2019-09-08T12:40:06.070176+05:30'

In [15]:
# without micro seconds
from datetime import datetime
from dateutil.tz import tzlocal
datetime.now(tzlocal()).replace(microsecond=0).isoformat()

'2019-09-08T12:41:10+05:30'

In [16]:
from dateutil import tz 
from dateutil.parser import parse
ET = tz.gettz('US/Eastern')
CT = tz.gettz('US/Central') 
MT = tz.gettz('US/Mountain') 
PT = tz.gettz('US/Pacific')
us_tzinfos = {'CST': CT, 'CDT': CT,
              'EST': ET, 'EDT': ET,
              'MST': MT, 'MDT': MT,
              'PST': PT, 'PDT': PT}
dt_est = parse('2014-01-02 04:00:00 EST', tzinfos=us_tzinfos)
dt_pst = parse('2016-03-11 16:00:00 PST', tzinfos=us_tzinfos)

In [17]:
# iterate over start date to end date

In [25]:
import datetime
date_delta= datetime.timedelta(days=1)
today= datetime.date.today()
end_date= today+7*date_delta 
for days in range((end_date-today).days):
    print(today+days*date_delta)

2019-09-08
2019-09-09
2019-09-10
2019-09-11
2019-09-12
2019-09-13
2019-09-14

In [29]:
for days in range(10):
    print(today+days*date_delta)

2019-09-08
2019-09-09
2019-09-10
2019-09-11
2019-09-12
2019-09-13
2019-09-14
2019-09-15
2019-09-16
2019-09-17

In [33]:
from datetime import datetime
a = datetime(2016,10,6,0,0,0) 
b = datetime(2016,10,1,23,59,59)
a-b # datetime.timedelta(4, 1)
(a-b).days # 4 (a-b).total_seconds()
(a-b).total_seconds()

345601.0

In [35]:
datetime_for_string = datetime(2016,10,1,0,0)
datetime_string_format = '%b %d %Y, %H:%M:%S' 
datetime.strftime(datetime_for_string,datetime_string_format)

'Oct 01 2016, 00:00:00'

In [37]:
datetime_string = 'Oct 1 2016, 00:00:00'
datetime_string_format = '%b %d %Y, %H:%M:%S'
datetime.strptime(datetime_string, datetime_string_format)

datetime.datetime(2016, 10, 1, 0, 0)

In [12]:

    

print(color.red)
print(color(1))
print(color(3))
print(color)

color.red
color.red
color.yellow
<enum 'color'>

In [15]:
# enum is iterable
[c for c in color]

In [16]:
# sets

In [17]:
{1, 2, 3, 4, 5}.intersection({3, 4, 5, 6})

{3, 4, 5}

In [18]:
{1, 2, 3, 4, 5}&{3, 4, 5, 6}

{3, 4, 5}

In [19]:
{1, 2, 3, 4, 5}.union({3, 4, 5, 6})

{1, 2, 3, 4, 5, 6}

In [20]:
{1, 2, 3, 4, 5}|{3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [22]:
{1, 2, 3, 4}.difference({2, 3, 5})

{1, 4}

In [23]:
{1, 2, 3, 4}-{2, 3, 5}

{1, 4}

In [25]:
{1, 2, 3, 4}.symmetric_difference({2, 3, 5})

{1, 4, 5}

In [26]:
{1, 2, 3, 4}^{2, 3, 5}

{1, 4, 5}

In [27]:
{1, 2}.issuperset({1, 2, 3})

False

In [28]:
{1, 2}>={1, 2, 3}

False

In [29]:
{1, 2}<={1, 2, 3}

True

In [30]:
{1, 2}.issubset({1, 2, 3})

True

In [31]:
{1, 2}.isdisjoint({3, 4})

True

In [32]:
{1, 2}.isdisjoint({1, 4})

False

In [33]:
2 in {1,2,3}      # True 
4 in {1,2,3}      # False 
4 not in {1,2,3}

True

In [38]:
s = {1,2,3}
s.add(4)        # s == {1,2,3,4}
s.discard(3)    # s == {1,2,4} 
s.discard(5)

In [39]:
s.remove(2)     # s == {1,4} 
#s.remove(2)

In [42]:
s = {1, 2} 
s.update({3, 4})
s

{1, 2, 3, 4}

In [43]:
restaurants = ["McDonald's", "Burger King", "McDonald's", "Chicken Chicken"] 
unique_restaurants = set(restaurants) 
print(unique_restaurants)

{"McDonald's", 'Chicken Chicken', 'Burger King'}

In [44]:
list(unique_restaurants)

["McDonald's", 'Chicken Chicken', 'Burger King']

In [45]:
list(set(restaurants))

["McDonald's", 'Chicken Chicken', 'Burger King']

In [46]:
# set of set
{{1,2},{34}}

TypeError: unhashable type: 'set'

In [51]:

{frozenset({1,2}),frozenset({3,4})}

{frozenset({1, 2}), frozenset({3, 4})}

In [54]:
a = {1, 2, 2, 3, 4}
b = {3, 3, 4, 4, 5}

In [55]:
 a.intersection(b)

{3, 4}

In [56]:
 a.union(b)

{1, 2, 3, 4, 5}

In [57]:
a.difference(b)

{1, 2}

In [58]:
b.difference(a)

{5}

In [59]:
a.symmetric_difference(b)

{1, 2, 5}

 c = {1, 2}
c.issubset(a)

# Method                     Operator
a.intersection(b)                   a & b 
a.union(b)                          a|b 
a.difference(b)                     a - b 
a.symmetric_difference(b)           a ^ b
a.issubset(b)                       a <= b 
a.issuperset(b)                     a >= b

In [62]:
setA = {'a','b','b','c'}
print(setA
     )

{'a', 'b', 'c'}

In [63]:
listA = ['a','b','b','c']
print(listA)

['a', 'b', 'b', 'c']

In [67]:
from collections import Counter 
counter= Counter(['a','b','b','b','c','c','d'])
print(counter)

Counter({'b': 3, 'c': 2, 'a': 1, 'd': 1})

In [69]:
import operator
operator.add(3,5)

8

In [70]:
a=operator.iadd(3,5)

In [71]:
a, b = 2, 3
(a ** b)               # = 8 
pow(a, b)              # = 8
import math
math.pow(a, b)         # = 8.0 (always float; does not allow complex results)
import operator
operator.pow(a, b)

8

In [73]:
a, b, c = 2, 3, 2
pow(2, 3, 3)

2

In [75]:
import math 
import cmath 
c = 4 
print(math.sqrt(c))           # = 2.0 (always float; does not allow complex results) 
print(cmath.sqrt(c))      # alays allow complex result

2.0
(2+0j)

In [76]:
import math 
x = 8 
math.pow(x, 1/3) # evaluates to 2.0 
x**(1/3)

2.0

In [79]:
print(math.exp(0))  # 1.0 
math.exp(1)   # using for exponitial function  e**X

1.0

2.718281828459045

In [80]:
math.expm1(0)       # 0.0
math.exp(1e-6) - 1  # 1.0000004999621837e-06 
math.expm1(1e-6)

1.0000005000001665e-06

Trigonomatric function

In [82]:
import math
a,b=1,2
math.sin(a)  # returns the sine of 'a' in radians # Out: 0.8414709848078965
math.cosh(b)  # returns the inverse hyperbolic cosine of 'b' in radians # Out: 3.7621956910836314
math.atan(math.pi)  # returns the arc tangent of 'pi' in radians # Out: 1.2626272556789115
math.hypot(a, b) # returns the Euclidean norm, same as math.sqrt(a*a + b*b)

2.23606797749979

In [84]:
print(math.degrees(a)) # Out: 57.29577951308232
math.radians(57.29577951308232)

57.29577951308232

1.0

In [86]:
print(3 * 'ab')  # = 'ababab' 
3 * ('a', 'b')   # * operator is also used in concatanation of  string

ababab

('a', 'b', 'a', 'b', 'a', 'b')

In [89]:
import math 
import cmath
math.log(5)         # = 1.6094379124341003 # optional base argument. Default is math.e 
math.log(5, math.e) # = 1.6094379124341003 
cmath.log(5)        # = (1.6094379124341003+0j)
math.log(1000, 10)   # 3.0 (always returns float) 
cmath.log(1000, 10)  # (3+0j)

(2.9999999999999996+0j)

In [90]:
# Logarithm base e - 1 (higher precision for low values) 
math.log1p(5)       # = 1.791759469228055
# Logarithm base 2 
math.log2(8)        # = 3.0
# Logarithm base 10 
math.log10(100)     # = 2.0 cmath.log10(100)    # = (2+0j)

2.0

In [91]:
3 % 4     # 3
10 % 2    # 0
6 % 4     # 2

2

In [92]:
import operator
operator.mod(3 , 4)

3

In [94]:
print(-9 % 7)     # 5 
print(9 % -7)     # -5 
print(-9 % -7)    # -2

5
-5
-2

In [96]:
-29%5

1

In [97]:
quotient, remainder = divmod(9, 4)

BitBise operator

In [102]:
~0,~1,~2,~123    # ~n = -|n+1|

(-1, -2, -3, -124)

In [105]:
~-1,~-2,~-3   # ~-n = |n-1|

(0, 1, 2)

 XOR operation using bitbise operation ^

In [106]:
60^30

34

In [107]:
bin(60^30)  # xor operation

'0b100010'

In [108]:
bin(60&30)  # and operation

'0b11100'

In [110]:
bin(60|30) # or operation

'0b111110'

In [113]:
2<<1  # Performing a left bit shift of 1 is equivalent to multiplication by 2:2*22
2<<2  # Performing a left bit shift of n is equivalent to multiplication by 2**n:  2*2**2

8

In [114]:
bin(2<<1)

'0b100'

In [115]:
bin(2<<2)

'0b1000'

In [116]:
bin(3<<4),3<<4

('0b110000', 48)

In [120]:
8>>2,bin(8>>2)  #Performing a right bit shift of 1 is equivalent to integer division by 2 
48>>4,59>>3   #Performing a right bit shift of n is equivalent to integer division by 2**n:

(3, 7)

#All of the Bitwise operators (except ~) have their own in place versions

In [122]:
def or_o(a,b):
    if a:
        return a
    else:
        return b

In [123]:
def and_o(a,b):
    if not a:
        return a
    else:
        return b

In [127]:
x=3.141
if 3.14< x< 3.142:  
    print("x is near pi")
    
#or
if 3.14< x and x< 3.142:
    print("x is near pi")

x is near pi
x is near pi

#short  circut evaluation

In [131]:
def true_fun():
    print("true_fun()")
    return True
def false_fun():
    print("false_fun()")
    return False

In [132]:
true_fun() or false_fun()

true_fun()

True

In [133]:
false_fun() or true_fun()

false_fun()
true_fun()

True

In [134]:
true_fun() and false_fun()

true_fun()
false_fun()

False

In [135]:
false_fun() and true_fun()

false_fun()

False

In [141]:
def counter():
    num=0
    def increament():
        num+=1
        return num
    return increament

In [143]:
a=counter()
print(a())

UnboundLocalError: local variable 'num' referenced before assignment

In [144]:
def counter():
    num=0
    def increament():
        nonlocal num
        num+=1
        return num
    return increament

In [145]:
c = counter()

In [148]:
c()

3

In [149]:
x = 'Hi'
def read_x():    
    print(x)   # x is just referenced, therefore assumed global
read_x()       # prints Hi
def read_y():    
    print(y)

Hi

In [152]:
#read_y()       # NameError: global name 'y' is not defined
def read_y():   
    y = 'Hey'  # y appears in an assignment, therefore it's local    print(y)   # will find the local y
read_y()

In [161]:
x="hi"
def read_x_local_fail():   
    if False:       
        x = 'Hey'        # x appears in an assignment, therefore it's local    
    print(x)             # will look for the _local_ z, which is not assigned, and will not be found
#read_x_local_fail()

In [158]:
x = 'Hi'
def change_local_x():    
    x = 'Bye'   
    print(x) 
change_local_x()  # prints Bye 
print(x)

Bye
Hi

In [162]:
x = 'Hi'
def change_global_x():    
    global x   
    x = 'Bye'    
    print(x)
change_global_x()  # prints Bye 
print(x)

Bye
Bye

In [168]:
foo = 1
def func():   
    bar = 2   
    print(globals().keys())
    # prints all variable names in global scope    
    print()
    print(locals().keys())

In [169]:
func()

dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__builtin__', '__builtins__', '_ih', '_oh', '_dh', 'In', 'Out', 'get_ipython', 'exit', 'quit', '_', '__', '___', '_i', '_ii', '_iii', '_i1', 'enum', '_i2', '_i3', '_i4', '_i5', '_i6', 'Enum', 'color', '_i7', '_i8', '_i9', '_i10', '_i11', '_i12', '_i13', '_i14', '_14', '_i15', '_15', '_i16', '_i17', '_17', '_i18', '_18', '_i19', '_19', '_i20', '_20', '_i21', '_i22', '_22', '_i23', '_23', '_i24', '_i25', '_25', '_i26', '_26', '_i27', '_27', '_i28', '_28', '_i29', '_29', '_i30', '_30', '_i31', '_31', '_i32', '_32', '_i33', '_33', '_i34', 's', '_i35', '_i36', '_i37', '_i38', '_i39', '_i40', '_i41', '_i42', '_42', '_i43', 'restaurants', 'unique_restaurants', '_i44', '_44', '_i45', '_45', '_i46', '_i47', '_i48', '_i49', '_i50', '_i51', '_51', '_i52', '_i53', '_i54', 'a', 'b', '_i55', '_55', '_i56', '_56', '_i57', '_57', '_i58', '_58', '_i59', '_59', '_i60', 'c', '_60', '_i61', '_i62', 'setA', '_i63', 'listA', '_i64', 'Counter', '_i65', '_i66', 'counter', '_i67', '_i68', 'operator', '_i69', '_69', '_i70', '_i71', 'math', '_71', '_i72', '_72', '_i73', '_73', '_i74', 'cmath', '_74', '_i75', '_i76', 'x', '_76', '_i77', '_77', '_i78', '_78', '_i79', '_79', '_i80', '_80', '_i81', '_81', '_i82', '_82', '_i83', '_83', '_i84', '_84', '_i85', '_85', '_i86', '_86', '_i87', '_i88', '_88', '_i89', '_89', '_i90', '_90', '_i91', '_91', '_i92', '_92', '_i93', '_93', '_i94', '_i95', '_95', '_i96', '_96', '_i97', 'quotient', 'remainder', '_i98', '_i99', '_99', '_i100', '_100', '_i101', '_101', '_i102', '_102', '_i103', '_103', '_i104', '_104', '_i105', '_105', '_i106', '_106', '_i107', '_107', '_i108', '_108', '_i109', '_109', '_i110', '_110', '_i111', '_111', '_i112', '_112', '_i113', '_113', '_i114', '_114', '_i115', '_115', '_i116', '_116', '_i117', '_117', '_i118', '_118', '_i119', '_119', '_i120', '_120', '_i121', '_i122', 'or_o', '_i123', 'and_o', '_i124', '_i125', '_i126', '_i127', '_i128', 'true_fun', 'flase_fun', '_i129', '_129', '_i130', '_i131', 'false_fun', '_i132', '_132', '_i133', '_133', '_i134', '_134', '_i135', '_135', '_i136', '_i137', '_137', '_i138', '_i139', '_i140', '_i141', '_i142', '_i143', '_i144', '_i145', '_i146', '_146', '_i147', '_147', '_i148', '_148', '_i149', 'read_x', 'read_y', '_i150', '_i151', '_i152', '_i153', 'read_x_local_fail', '_i154', '_i155', '_i156', '_i157', 'change_local_x', '_i158', '_i159', '_i160', '_i161', '_i162', 'change_global_x', '_i163', 'foo', 'func', '_i164', '_i165', '_i166', '_i167', '_i168', '_i169'])

dict_keys(['bar'])

In [170]:
foo = 1
def func():    
    foo = 2  # creates a new variable foo in local scope, global foo is not affected
    print(foo)  # prints 2
    # global variable foo still exists, unchanged:   
    print(globals()['foo'])  # prints 1  
    print(locals()['foo'])  # prints 2

In [171]:
func()

2
1
2

In [172]:
foo = 1
def func():    
    global foo   
    foo = 2  # this modifies the global foo, rather than creating a local variable

In [175]:
foo = 1
def func():    # This function has a local variable foo, because it is defined down below.    # So, foo is local from this point. Global foo is hidden.
    print(foo) # raises UnboundLocalError, because local foo is not yet initialized   
    foo = 7   
    print(foo)

In [176]:
#func()

In [186]:
foo = 1
def func():
    #global foo       # In this function, foo is a global variable from the beginning
    foo = 7          # global foo is modified   not correct
    print(foo)       # 7    print(globals()['foo'])  # 7
    #global foo      # this could be anywhere within the function    
    print(foo)

In [185]:
print(foo)
func()
print(foo)

1
7
7
1

In [187]:
foo = 1
def f1():    
    bar = 1
    def f2():        
        baz = 2        # here, foo is a global variable, baz is a local variable        # bar is not in either scope        
        print(locals().keys())  # ['baz']       
        print('bar' in locals())  # False       
        print('bar' in globals())  # False
    def f3():       
        baz = 3       
        print(bar)  # bar from f1 is referenced so it enters local scope of f3 (closure)       
        print(locals().keys())  # ['bar', 'baz']       
        print('bar' in locals())  # True       
        print('bar' in globals())  # False
    def f4():       
        bar = 4  # a new local bar which hides bar from local scope of f1       
        baz = 4        
        print(bar)       
        print(locals().keys())  # ['bar', 'baz']        
        print('bar' in locals())  # True

In [197]:
n = 5 
"Hello" if n > 10 else "Goodbye" if n > 5 else "Good day"

'Good day'

In [199]:
1 and 2

2

In [200]:
1 and 0

0

In [201]:
1 and "hello world"

'hello world'

In [202]:
" " and 1

1

In [203]:
1 and " "

' '

In [204]:
1 or " "

1

In [205]:
" " or 1

' '

In [206]:
def print_me():
    print("i am here")

In [207]:
1 and print_me()

i am here

In [208]:
0 and print_me()

0

In [209]:
1 or print_me()

1

In [210]:
0 or print_me()

i am here

In [212]:
# producing unexpacted result
a=1
b=6
if a and b >2:
    print("yes")
else:
    print("no")

yes

In [213]:
# to solve these problem
if a> 2 and b> 2:
    print("yes")
else:
    print("no")

no

In [214]:
# normal mistake done by people
if a == 3 or 4 or 5:
    print("yes")
else:
    print("no")

yes

In [215]:
# to solve these problem
if a== 3 or a== 4 or a== 5:
    print("yes")
else:
    print("no")

no

In [216]:
# try this 
if a in (3,4,5):
    print("yes")
else:
    print("no")

no

In [217]:
a="python is fun!"
b="python is fun!"
a==b

True

In [219]:
id(a),id(b)

(2417335973104, 2417335975216)

In [218]:
a is b

False

In [220]:
a=[1,2,3,4,5]
b=a

In [221]:
a==b

True

In [222]:
id(a),id(b
        )

(2417335972296, 2417335972296)

In [223]:
a is b

True

In [224]:
b= a[:]
id(a),id(b)

(2417335972296, 2417336008456)

In [225]:
b==a

True

In [226]:
b is a

False

In [227]:
a= 'shoe'
b= 'shoe'
a is b

True

In [230]:
c= 5
d= 5
c is d

True

In [235]:
e= 'ramisqwertyuiop'
f= 'ramisqwertyuiop'
e is f    # if space is allowd then is return false

True

In [236]:
"alpha" < "beta" # True
"gamma" > "beta" # True 
"gamma" < "OMEGA" # False

False

In [237]:
12 != 1 # True 
12 != '12' # True 
'12' != '12' # False

False

In [238]:
12 == 12 # True 
12 == 1 # False 
'12' == '12' # True 
'spam' == 'spam' # True 
'spam' == 'spam ' # False
'12' == 12 # False

False

In [239]:
class Foo(object):
    def __init__(self, item):   
        self.my_item = item   
    def __eq__(self, other):     
        return self.my_item == other.my_item   
    
a = Foo(5) 
b = Foo(5)
a == b     # True a != b     # False a is b

True

In [4]:
# array

In [35]:
import array
my_array = array.array('i',[1,2,3,4,5])
for i in my_array:
    print(i)

1
2
3
4
5

In [36]:
for idx, val in enumerate(my_array):
    print(idx,val)

0 1
1 2
2 3
3 4
4 5

In [37]:
# extend func is used to join two array example is given below

In [38]:
my_extended=array.array('i',[6,7,8,9,10])
my_array.extend(my_extended)

In [39]:
my_array

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [40]:
c=[11,12,13,14,15,16]
my_array.fromlist(c)

In [41]:
my_array.remove(1)   # argement as value  which want to remove from array

In [42]:
my_array.pop()    # to remove the last element as return  value of last element

16

In [43]:
my_array.reverse()

In [44]:
my_array.buffer_info()   # it return address and no of element

(2430369212624, 14)

In [45]:
my_array.count(2)       # it count the no times repetative in array

1

In [46]:
#my_array.tostring()

In [47]:
c = my_array.tolist()

In [48]:
c

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [65]:
char_array = array.array('u',['a','b','c','d'])
#char_array.fromstring("s")

In [66]:
#help(array)